.navigation {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    padding: 1rem 0;
    box-sizing: border-box;
}

.nav-item {
    margin: .5rem 0;
    height: 2rem;
    width: 2rem;
    padding: .7rem;
    border-radius: 50%;
    transition: 300ms;
}

.nav-link {
    background-color: darkgreen;
}

.nav-link:hover {
    border-radius: 10%;
}

.nav-link:active {
    transform: scale(0.8);
}