.navigation {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    padding: 1rem 0;
    box-sizing: border-box;
    z-index: 10;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    margin: .5rem 0;
    height: 2rem;
    width: 2rem;
    padding: .7rem;
    border-radius: 50%;
    transition: 300ms;
    position: relative;
}

.nav-link {
    background-color: darkgreen;
}

.nav-link:hover {
    border-radius: 10%;
}

.nav-link:active {
    transform: scale(0.8);
}

.nav-tooltip {
    position: absolute;
    left: 4rem;
    top: 1rem;
    background-color: black;
    padding: .2rem .3rem;
    border-radius: .3rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s;
}

.nav-link:hover .nav-tooltip {
    visibility: visible;
    opacity: 1;
}