.search-card {
    display: flex;
    margin: 1rem 3rem;
    background-color: gray;
    text-decoration: none;
    color: white;
    align-items: center;
    border-radius: 5px;
    height: 10rem;
}

.search-card-img {
    height: 100%;
    margin-right: 1rem;
    border-radius: 5px 0 0 5px;
}

.search-card-title {
    font-size: 2rem;
}

.search-card-item {
    margin: 0;
}